main {
  background-color: #ffffff; }

.section-mission {
  padding: 9rem 0;
  max-width: 780px;
  margin: auto;
  color: #333; }
  .section-mission h2 {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .section-mission__statement {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 3rem 0;
    padding: 0.9rem;
    border-left: 2px solid #bbb;
    border-right: 2px solid #bbb; }
  .section-mission__logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 3.7rem; }
    .section-mission__logo img {
      outline: 3rem solid #181829;
      outline-offset: -1px;
      border-radius: 0.5rem;
      width: 20rem; }

.section-whoWeAre {
  margin: 4rem 0;
  background-color: #373c52;
  padding: 8.5rem 0; }
  .section-whoWeAre__container {
    max-width: 1400px;
    margin: auto; }
  .section-whoWeAre__img {
    float: right;
    width: 41%; }
    .section-whoWeAre__img img {
      height: 65rem;
      border-radius: 0.3rem;
      box-shadow: #333 0 0 0.8rem; }
  .section-whoWeAre__text-box {
    float: right;
    width: 59%;
    color: #f1f1f1; }
  .section-whoWeAre__text {
    font-size: 1.7rem;
    color: #f1f1f1;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 3rem;
    padding-top: 3rem; }
    .section-whoWeAre__text--bold {
      font-weight: 600; }
  .section-whoWeAre__list {
    padding-top: 5rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    list-style: none;
    letter-spacing: 0.5px;
    line-height: 3rem;
    position: relative; }
    .section-whoWeAre__list li {
      float: left; }
    .section-whoWeAre__list li::before {
      position: relative;
      z-index: 1;
      content: "";
      float: left;
      width: 1rem;
      height: 1rem;
      background-color: #373c52;
      border-radius: 50rem;
      border: 0.2rem solid #aaa;
      margin-bottom: 7rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; }
    .section-whoWeAre__list::before {
      content: "";
      display: block;
      position: absolute;
      top: 6rem;
      left: 1.4rem;
      background-color: #aaa;
      z-index: 1;
      width: 0.1rem;
      height: 68%; }
    .section-whoWeAre__list::after {
      content: "";
      display: table;
      clear: both; }
  .section-whoWeAre::after {
    content: "";
    display: table;
    clear: both; }

.section-contact {
  font-size: 2rem;
  padding-bottom: 21rem;
  font-weight: 400; }
  .section-contact__centered-text {
    display: inline-block;
    width: 100%;
    padding: 2rem 0 2.8rem;
    text-align: center; }
  .section-contact__text-box {
    max-width: 1000px;
    height: 28rem;
    position: relative;
    z-index: 3;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(110deg, #373c52 50%, #fff 50.1%); }
    .section-contact__text-box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #373c52;
      height: 100%;
      z-index: -4;
      width: 100vw;
      transform: translateX(-90%); }
    .section-contact__text-box::after {
      content: "";
      display: table;
      clear: both; }
  .section-contact__text-left {
    float: left;
    width: 50%;
    height: 100%;
    padding: 9rem;
    text-align: right; }
  .section-contact__text-right {
    float: left;
    width: 50%;
    height: 100%; }
  .section-contact__list-info {
    list-style: none;
    padding-left: 9rem;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-56.3%); }
    .section-contact__list-info li {
      padding: 3rem 0; }
      .section-contact__list-info li a {
        color: inherit; }
  .section-contact__icons {
    position: relative;
    opacity: 0.9;
    top: 0.8rem;
    width: 10rem;
    margin-right: 1.9rem; }
    .section-contact__icons::after {
      content: attr(data-name);
      display: inline-block;
      text-align: center;
      position: absolute;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: #555;
      left: -53%;
      top: 78%;
      width: 10rem; }
    .section-contact__icons img {
      width: 5rem; }
  .section-contact .heading-main {
    padding-top: 9rem;
    text-align: center; }
  .section-contact .heading-third {
    line-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.header {
  position: relative;
  height: 55rem;
  width: 100%; }
  .header__background {
    position: fixed;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(#373c5222, #373c5255), url("img/hero-img.png");
    image-rendering: pixelated;
    backface-visibility: hidden;
    background-size: cover;
    height: 55rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24rem;
    border: 0.3rem solid #f1f1f1;
    backdrop-filter: blur(0.5px);
    background-color: rgba(0, 47, 68, 0.5);
    width: 72rem;
    border-radius: 0.3rem;
    animation: header 0.4s ease-out; }
  .header__text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
    font-weight: 400;
    font-size: 3.6rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 0 14rem;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    text-shadow: #434343 0 0 7px;
    animation: firstP 1s ease-in-out;
    backface-visibility: hidden; }
    .header__text-bar {
      box-sizing: border-box;
      display: inherit;
      height: 0.5rem;
      background-color: #fafafa;
      border-radius: 70px;
      margin: 1.5rem 0;
      width: 100%; }
    .header__text-bottem {
      display: inherit;
      font-weight: 300;
      color: #ffffff;
      letter-spacing: 0.4rem; }

@keyframes header {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes firstP {
  0% {
    opacity: 0;
    transform: translate(-42%, -50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

.nav {
  position: absolute;
  width: 100%;
  padding: 2rem 4rem;
  height: 6rem;
  z-index: 2;
  transition: padding 0.3s ease-in-out, top 0.3s, background-color 0.7s;
  background-color: rgba(255, 255, 255, 0);
  backface-visibility: none; }
  .nav__logo {
    backface-visibility: hidden;
    image-rendering: optimizeQuality;
    image-rendering: pixelated;
    height: 6rem;
    display: block;
    filter: drop-shadow(#33333344 0 0 0.5rem); }
  .nav__bar {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    height: inherit; }
    .nav__bar li:not(:first-child) {
      float: right;
      height: 100%; }
      .nav__bar li:not(:first-child) a {
        display: block;
        font-size: 2rem;
        text-shadow: #333 0 0 0px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.2s;
        backface-visibility: none;
        color: #3c3c3c;
        line-height: 6rem;
        padding: 0 3rem;
        text-shadow: #adadad77 0 1px 0.3rem; }
      .nav__bar li:not(:first-child) a:hover {
        color: #001; }
    .nav__bar li:first-child {
      float: left; }
      .nav__bar li:first-child a {
        display: block;
        padding-left: 1.8rem; }
  .nav__underline {
    display: inline-block;
    position: relative;
    transform: translateY(-1rem) scaleX(0.1);
    transition: all 0.2s ease-in-out;
    right: 0;
    bottom: 0;
    height: 0.5rem;
    width: 100%;
    background-color: #050047;
    border-radius: 20rem;
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0; }

.show {
  transform: translateY(-1rem) scaleX(1);
  visibility: visible;
  opacity: 1; }

.nav--scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: #44444455 0px 0 0.4rem;
  padding: 0rem 0rem; }
  .nav--scrolled .nav__logo {
    padding: 0.3rem; }

.nav--hide {
  top: -70px; }

@media only screen and (max-width: 1400px) {
  .nav__bar li {
    position: relative;
    z-index: 501; }
  .nav__bar li:nth-of-type(2) {
    margin-top: 10rem; }
  .nav__bar li:not(:first-child) {
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateX(-2rem);
    visibility: hidden;
    transition: all 0.2s; }
    .nav__bar li:not(:first-child) a {
      color: #f4f4f4;
      font-size: 2.3rem;
      text-shadow: #f4f4f4 0 0 0px;
      width: 100%; }
      .nav__bar li:not(:first-child) a:hover, .nav__bar li:not(:first-child) a:active {
        color: #fff; }
  .nav__bar--active li:not(:first-child) {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); }
  .nav__underline {
    width: 13rem; }
  .nav__hamburger-container {
    height: 5rem;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 3000;
    margin-right: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem; }
    .nav__hamburger-container:hover {
      transform: scale(1.1); }
    .nav__hamburger-container:active {
      transform: scale(1) translateY(0.2rem); }
  .nav__hamburger {
    display: block;
    z-index: 2000;
    position: relative;
    top: 50%;
    height: 0.3rem;
    border-radius: 15rem;
    width: 3.7rem;
    background-color: #373c52;
    transition: all 0.2s; }
    .nav__hamburger::after {
      content: "";
      position: relative;
      top: -1.8rem;
      display: block;
      height: 0.3rem;
      border-radius: 15rem;
      width: 100%;
      background-color: #373c52;
      transition: all 0.2s; }
    .nav__hamburger::before {
      content: "";
      position: relative;
      top: 1.5rem;
      display: block;
      height: 0.3rem;
      border-radius: 15rem;
      width: 100%;
      background-color: #373c52;
      transition: all 0.2s; }
    .nav__hamburger--active {
      background-color: transparent; }
      .nav__hamburger--active::after {
        transform-origin: left;
        transform: rotate(45deg) scaleX(1.15);
        background-color: #f4f4f4; }
      .nav__hamburger--active::before {
        transform-origin: left;
        transform: rotate(-45deg) scaleX(1.15);
        background-color: #f4f4f4; }
  .nav__phone-background {
    content: "";
    display: block;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 115vw;
    background-image: linear-gradient(to bottom right, #666667, #454545);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 0.5s ease-in-out; }
    .nav__phone-background--active {
      left: 0;
      opacity: 1; }
  .overflow-hidden {
    overflow: hidden; }
  .section-whoWeAre {
    padding: 0 0; }
    .section-whoWeAre__img {
      width: 100%; }
      .section-whoWeAre__img img {
        display: none; }
    .section-whoWeAre__text-box {
      width: 100%;
      padding: 8.5rem 7rem;
      background-image: linear-gradient(to bottom, #373c52 30%, rgba(55, 60, 82, 0.9) 90%, rgba(55, 60, 82, 0.7)), url("img/phone-data.jpg");
      background-position: center;
      background-size: cover; }
      .section-whoWeAre__text-box .heading-main {
        text-align: center; } }

.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(to bottom right, #666667, #454545); }
  .footer__info {
    width: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer__logo {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .footer__logo img {
      margin-top: .1rem;
      height: 5rem; }
  .footer__bar {
    width: 100%;
    height: 0.3rem;
    background-color: #f1f1f1;
    border-radius: 50rem;
    margin: 2.8rem 0; }
  .footer__nav {
    width: 100%;
    display: inline-block;
    text-align: center; }
    .footer__nav ul {
      list-style: none;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 2rem; }
      .footer__nav ul li {
        float: left;
        width: 33.3%; }
        .footer__nav ul li a {
          color: inherit;
          text-decoration: none;
          padding: 0 4.8rem;
          transition: all 0.2s; }
          .footer__nav ul li a:hover {
            color: #bbbbbb; }

@media only screen and (max-width: 810px) {
  :root {
    font-size: 58%; }
  .header__text-box {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 47, 68, 0.5) 40%, rgba(0, 47, 68, 0.5) 60%, rgba(0, 0, 0, 0)); }
  .header__text {
    padding: 0 4rem;
    max-width: 45rem; }
  .nav {
    padding: 2rem 0rem; }
    .nav ul li:first-of-type {
      padding-left: 0.5rem; }
    .nav__hamburger-container {
      margin-right: 4rem; }
  .nav--scrolled {
    padding: 0; }
    .nav--scrolled .nav__logo {
      padding: 0.3rem; }
  .nav--hide {
    top: -70px; }
  .section-mission {
    padding-left: 2rem;
    padding-right: 2rem; }
  .section-whoWeAre__text-box {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem; }
  .section-whoWeAre__text--bold {
    display: block; }
  .section-whoWeAre__list li {
    text-align: center;
    width: 100%; }
    .section-whoWeAre__list li:first-of-type::before {
      display: none; }
    .section-whoWeAre__list li::before {
      float: none;
      display: block;
      margin: 2rem auto; }
  .section-whoWeAre__list::before {
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 3rem;
    left: -2rem;
    width: calc(100% + 4rem);
    border-right: 0.5rem solid #e6bb2e9f;
    border-left: 0.5rem solid #e6bb2e9f; }
  .section-contact__text-box {
    height: auto;
    background-image: none; }
    .section-contact__text-box::before {
      display: none; }
  .section-contact__text-left {
    background-image: linear-gradient(110deg, #373c52 50%, #fff 50.1%);
    padding: 3rem 22rem 3rem 0;
    width: 100%;
    text-align: center; }
  .section-contact__text-right {
    width: 100%;
    padding-top: 2rem; }
  .section-contact__list-info {
    padding-left: 10%;
    transform: none; }
  .section-contact .heading-third {
    transform: none;
    line-height: normal; }
  .footer {
    height: 63rem;
    overflow: hidden; }
    .footer ul li {
      width: 100%;
      padding: 3rem; }
    .footer__logo {
      transform: scale(1.1); }
    .footer__info {
      width: 100%;
      padding: 0 3rem; } }

@media only screen and (max-width: 380px) {
  :root {
    font-size: 50%; }
  .header .header__text-box .header__text {
    font-size: 3.5rem; } }

.bold-little {
  font-weight: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

.heading-main {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem; }

.heading-third {
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: 400; }

.simple-links {
  color: inherit;
  transition: all 0.2s; }
  .simple-links:hover {
    color: #111111;
    transform: translateY(-0.4rem) scale(1.01); }
  .simple-links:active {
    transform: translateY(-0.3rem); }
